/*fish*/
.all_bg{
			width: 1300px;
			height: 800px;
			margin: 0px auto;
			z-index: -10;
		}
		/*#allcanvas{
			position: relative;
			width: 1300px;
			height: 700px;
			
			margin: 0px ;
			
		}*/
		#canvas1{
			position: absolute;
			bottom: 0;
			margin-left:0px ;
			padding-left:0px ;
			left: 0;
			z-index: 1;
			
			/*width: 100vw ;*/
			width: 100% ;
			
		}
		#canvas2{
			position: absolute;
			bottom: 0;
			left: 0;
			padding-left:0px ;
			margin-left:0px ;
			z-index: 0;
			
			/*width: 100vw ;*/
			width: 100% ;
			
			
		}




.screen2 {
	background-color: black;
	
	/*height: 100% ;*/
}
a{
	text-decoration: none;
	color: white;
}
.p1 {
	position:absolute ;
	left: 10px ;
	top: 0px ;
	position: fixed ;
	list-style-type: none;
	z-index: 10;		
}

.p2 {
	position:absolute;
	right: 10px ;
	top: 0px ;
	position: fixed ;
	z-index: 10;
}
.p3 {
	position:absolute ;
	left: 10px ;
	bottom: 0px ;
	position: fixed ;
	z-index: 10;
}
.p4 {
	position:absolute ;
	right: 10px ;
	bottom: 0px ;
	position: fixed ;
	z-index: 10;
	list-style-type: none;
}


		#f1 {
			display: block;
			position: absolute ;
			
			left: calc(50% - 125px) ;
			top: calc(50% - 125px) ;
		}
		#f1>img{
			border-top-left-radius: 100%;
			border-top-right-radius: 100%;
			border-bottom-right-radius: 100%;
			border-bottom-left-radius: 100%;
			margin-left:auto ;
			margin-right: auto;
			margin-top:auto ;
			margin-bottom: auto;
			max-width: 250px;
			
		}
		
		
		body{
			/* background-size: contain; */
			padding: 0px 0px 0px 0px;
			/* background-size: cover; */
			text-align: center;
			height: 100vh;
			width:auto;
			margin:0px ;
			/* background-color:#1f2435; */
			/* background-attachment: scroll; */
			/* background-size: contain; */
			color: white;
			font-family: "微软雅黑","黑体";
			font-size: 20px;
			
			background: url("src/background3.jpg") no-repeat center center fixed;
			background-size: cover ;
		
		}/*repeat背景平铺方式 repeat-x沿x轴平铺; position背景图片平铺起始位置;
			attachment:fixed背景图片不随滚动而滚动 scroll图片跟随滚动; 
			sive:cover图片填满并超过 contain刚好填满 
			tact-align字体和图片*/
			div#warp{
			   	width:800px;
			   	margin: 0px auto 0px auto;/*外補丁*/
		   	}
		   	
			/*div#left{
		   	width: 300px;
		   	float: left;
		   	height: 1200px;
		   	
		   }*/
		  
		   /*#right{
		   	width: 100%;
		   	
		   	height: 1200px;
		   	text-align: center;
		 	margin-left: 50px;
		   	padding:10px 0px 10px 0px;
		   }*/
		   #right>a>img{
		   		/*max-width: 280px;
		   		margin:20px ;
		   		height: 190px;
		   		margin-left: 70px;*/
		   		width: calc(33% - 50px);
				margin: 24px;
				margin-left: 28px;
				height: auto;
				float: left;
				position: relative;
				
		   }
		   
		   .clearFix:after{
		   	   display: block;
		   	   clear: both;
		   	   content: "";
		   }
		  	#main_content{
		  		
		   		/*margin: 100px auto 0px auto;*//*外補丁*/
		   		/*background-color: white;*/
		   		background-color: #1f2435;
		   		margin-left:auto;
				margin-right:auto;
				margin: 92px;
				text-align: center;
				margin-top: 150px;
		  	}
		  	/*.hr{margin-top: 100px;
		  		margin-bottom:10px ;
		  	}*/

 *{margin: 0px ;
		padding: 0px;}
	
	#banner{
		
		/*width: 100%;*/
		height: 450px;
		position: relative;/*相对定位*/
		margin-left:auto;
		margin-right:auto;
		margin: 120px;
		margin-top: 0px;
		margin-bottom: 0px;
	}
	
	#banner ul.banner-pic li{
		
		width:100%;
		list-style: none;
		position: absolute;
		top:0px;
		left: 0px;
		display: none;
	}
	#banner ul.banner-pic li a{
		
		display: block;
		width: 100%;
		height: 500px;		
	}
	#banner .banner-but{
		
		width: 200px;
		height: 20px;
		
		position: absolute;
		bottom: 20px;
		left: 47%;
		margin-left: -50px;
	}
	
	#banner .banner-but ul li{
		
		width: 14px;
		height: 14px;
		border: 2px solid #00BFBF;
		list-style: none;
		float: left;
		margin: 0 4px;
		border-radius: 100px;/*圆*/
	}
	
	#banner .banner-but ul li.hover{
		
		background: #00BFBF;
	}

#footer{
	text-align: center;
	color: white;
	background-color:black;
	line-height:2em ;/*行间距*/
	font-family: "微软雅黑","黑体";
	font-size: 60px;
	font-weight: 800;/*加粗*/
}
#footer>img:first-child{
			border-top-left-radius: 100%;
			border-top-right-radius: 100%;
			border-bottom-right-radius: 100%;
			border-bottom-left-radius: 100%;
			margin-left:auto ;
			margin-right: auto;
			margin-top:30px ;
			
			max-width: 200px;
}

#footer>img{
			max-width: 120px;
}
